@use '../utils/variables' as *;
@use '../utils/responsive' as *;



/* page crédits */
/* section 1 — art 3d */
.section--credits-art
{
    background: $color-bg-deep;


    .section__inner
    {
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding: 24px 16px;

        @include responsive(desktop)
        {
            padding: 96px;
        }
    }


    .section__head
    {
        display: flex;
        flex-direction: column;
        gap: 18px;

        @include responsive(desktop)
        {
            gap: 24px;
            padding-left: 120px;
        }
    }


    .section__body
    {
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: flex-end;

        @include responsive(desktop)
        {
            flex-direction: row;
            align-items: flex-start;
            padding-left: 120px;
        }
    }
}



/* section 2 — sound design */
.section--credits-sound
{
    background: $color-bg-surface;


    .section__inner
    {
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding: 24px 16px;

        @include responsive(desktop)
        {
            flex-direction: row;
            align-items: flex-start;
            gap: 96px;
            padding: 96px;
        }
    }


    .section__content
    {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }


    .section__body
    {
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: flex-end;
    }
}



/* section 3 — developpement */
.section--credits-dev
{
    background: $color-bg-deep;


    .section__inner
    {
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding: 24px 16px;

        @include responsive(desktop)
        {
            padding: 96px;
        }
    }


    .section__head
    {
        display: flex;
        flex-direction: column;
        gap: 18px;

        @include responsive(desktop)
        {
            gap: 24px;
            padding-left: 120px;
        }
    }


    .section__body
    {
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: flex-end;

        @include responsive(desktop)
        {
            flex-direction: row;
            align-items: flex-start;
            padding-left: 120px;
        }
    }
}



/* section 4 — merci */
.section--credits-merci
{
    background: $color-bg-surface;


    .section__inner
    {
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding: 24px 16px;

        @include responsive(desktop)
        {
            padding: 96px;
        }
    }


    .section__head
    {
        display: flex;
        flex-direction: column;
        gap: 18px;

        @include responsive(desktop)
        {
            gap: 24px;
            padding-left: 120px;
        }
    }


    .section__body
    {
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: flex-end;

        @include responsive(desktop)
        {
            flex-direction: row;
            align-items: flex-start;
            padding-left: 120px;
        }
    }
}


.credits-names
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
