@use '../utils/variables' as *;
@use '../utils/responsive' as *;



/* footer */
.footer
{
    background: $color-bg-surface;

    @include responsive(desktop)
    {
        border-top: 2px solid $color-border-gold;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 24px;
    }
}


.footer__inner
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid $color-border-gold;

    @include responsive(desktop)
    {
        flex: 1;
        padding: 48px 240px;
        border-bottom: none;
    }
}



/* nav + social*/
.footer__social,
.footer__nav
{
    display: flex;
    flex-direction: column;
    gap: 12px;

    a
    {
        font-family: $font-secondary;
        font-size: 14px;
        line-height: $line-height-paragraph;
        color: $color-text-muted;
        text-decoration: none;


        &:hover
        {
            text-decoration: underline;
        }
    }
}
.footer__nav 
{ 
    align-items: flex-end; 
}



/* middle */
.footer__middle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.footer__logo
{
    font-family: $font-primary;
    font-size: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: $color-accent-gold;
    text-decoration: none;

    @include responsive(desktop)
    {
        font-size: 45px;
        letter-spacing: 1px;
    }
}


.footer__copy
{
    font-family: $font-secondary;
    font-size: 14px;
    line-height: $line-height-paragraph;
    color: $color-text-muted;
    opacity: $opacity-medium;
    text-align: center;
    margin: 0;
    padding: 12px 16px;

    @include responsive(desktop) 
    { 
        padding: 0; 
    }
}
