@use '../utils/variables' as *;
@use '../utils/responsive' as *;



/* page ia */
.section--ia-gemini,
.section--ia-chatgpt
{
    .section__head
    {
        display: flex;
        flex-direction: column;
        gap: $space-1;
    }
}

.section--ia-gemini
{
    background: $color-bg-deep;
}

.section--ia-chatgpt
{
    background: $color-bg-surface;
}



/* grid prompt */
.section__body--prompts
{
    display: grid;
    grid-template-columns: 1fr;
    gap: $space-2;

    @include responsive(tablet)
    {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include responsive(desktop)
    {
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        gap: $space-3;
    }
}
