@use '../utils/variables' as *;
@use '../utils/responsive' as *;
@use './grids' as *;



/* cartes */
.credits-collabs
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
    gap: clamp(24px, 4vw, 48px);
}

.card
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card__model
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__name
{
    text-transform: uppercase;
    padding-bottom: 12px;
    font-family: $font-secondary;
    font-size: 24px;
    color: $color-text-title;
    margin: 0;
}

.card__role
{
    font-family: $font-secondary;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-muted;
    color: $color-text-muted;
    margin: 0;
}

.card__prompt, .card__description
{
    font-family: $font-secondary;
    font-size: 16px;
    line-height: $line-height-paragraph;
    color: $color-text-paragraph;
    margin: 0;
}



/* voix */
.credits-voix
{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card--voix
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}