@use '../utils/variables' as *;
@use '../utils/responsive' as *;



.btn
{
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;

    font-family: $font-primary;
    color: $color-text-title;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    background: $color-bg-deep;

    overflow: hidden;
    border: 1px solid $color-border-gold;
    transition: color 0.3s ease;

    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);

    
    &::before
    {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;

        background: $color-accent-gold;
        transform: translateX(-101%);
        transition: transform 0.4s cubic-bezier(0.5, 0.75, 0.25, 1);
    }


    &:hover
    {
        color: $color-bg-deep;


        &::before
        {
            transform: translateX(0);
        }
    }
}



/* nav button */
.btn--small
{
    padding: $space-half 0.75rem;
    font-size: $font-tag-mobile;
    letter-spacing: $letter-spacing-low;

    @include responsive(tablet)
    {
        padding: 0.55rem 0.85rem;
        font-size: $font-tag-tablet;
    }

    @include responsive(desktop)
    {
        padding: 0.6rem 0.9rem;
        font-size: $font-tag-desktop;
    }
}



/* CTA button */
.btn--large
{
    padding: 0.75rem $space-1;
    font-size: $font-text-mobile;
    letter-spacing: $letter-spacing-low;

    @include responsive(tablet)
    {
        padding: $space-1 $space-2;
        font-size: $font-card-mobile;
    }

    @include responsive(desktop)
    {
        padding: $space-1 $space-3;
        font-size: $font-card-desktop;
    }
}
