@use '../utils/variables' as *;
@use '../utils/responsive' as *;

/* titres du framework */
.title-h1,
.title-h2,
.title-h3,
.title-h4,
.title-h5 
{
    font-family: $font-primary;
    color: $color-text-title;
    line-height: 110%;
    letter-spacing: $letter-spacing-title;
    margin: 0 0 32px;
}

.title-h1 { @include font-size-responsive(105px, 165px, 224px); }
.title-h2 { @include font-size-responsive(81px, 91px, 106px); }
.title-h3 { @include font-size-responsive(54px, 61px, 71px); }
.title-h4 { @include font-size-responsive(36px, 41px, 47px); }
.title-h5 { @include font-size-responsive(24px, 27px, 32px); }


/* paragraphe */
.paragraph 
{
    font-family: $font-secondary;
    color: $color-text-paragraph;
    line-height: 185%;
    max-width: 50ch;
    @include font-size-responsive(16px, 18px, 21px);
}


/* tag */
.subtitle__tag
{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-family: $font-secondary;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: $letter-spacing-paragraph;
    text-transform: uppercase;
    color: $color-accent-rose;
    margin-bottom: 24px;
    opacity: 1;
}
