// utils
@use "modern-normalize" as *;
@use "utils/variables" as *;
@use "utils/responsive" as *;

// layout
@use "layout/grids" as *;
@use "layout/hero";
@use "layout/header";
@use "layout/footer";
@use "layout/cards";

// pages
@use "layout/landing";
@use "layout/credits";
@use "layout/ia";

// composants
@use "components/typography";
@use "components/button";


// base
html
{
  overflow-x: hidden;
}

body
{
  overflow-x: hidden;
  background: $color-bg-deep;
}



/* section */
.section 
{ 
    width: 100%; 
}

.section__inner
{
    box-sizing: border-box;
    width: 100%;
}



/* number */
.number
{
    font-family: $font-primary;
    color: $color-accent-gold;
    opacity: $opacity-low;
    line-height: $line-height-base;
    pointer-events: none;
    user-select: none;
    font-size: clamp(72px, 18vw, 220px);

    @include responsive(tablet) 
    { 
        line-height: 0.95; 
    }
}
