@use './responsive' as *;

@mixin columns
{
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @include responsive(tablet)
    {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    @include responsive(desktop)
    {
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }
}
