@use '../utils/variables' as *;
@use '../utils/responsive' as *;

/* typographies */
.title-h1,
.title-h2, 
.title-h3, 
.title-h4,
.title-h5,
.title-h6 {
    color: $color-primary;
    font-family: $font-primary;
    line-height: 1.2;
}

.title-h1 { @include font-size-responsive(122px, 137px, 159px); } // h1

.title-h2 { @include font-size-responsive(81px, 91px, 106px); } // h2

.title-h3 { @include font-size-responsive(54px, 61px, 71px); } // h3

.title-h4 { @include font-size-responsive(36px, 41px, 47px); } // h4

.title-h5 { @include font-size-responsive(24px, 27px, 32px); } // h5

/* paragraph */
@mixin paragraph ($color-paragraph) {
	font-family: $font-secondary;
	color : $color-paragraph;
	line-height: 1.6;
	max-width: 75ch;
}

.paragraph {
    @include paragraph ($color-black);
    @include font-size-responsive(16px, 18px, 21px); /* 1.5 ratio */
}